<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports and Dashboards</title>
    <link rel="stylesheet" type="text/css" th:href="@{/app/jsrivet/rivet-bundle.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/app/css/dashboard.css}"/>
</head>
<body>

<div id="root"></div>

<footer class="rvt-ts-12 rvt-container rvt-m-top-lg">
    <div id="footer" th:text="${@serverInfo}"></div>
</footer>

<script th:inline="javascript">
      /*<![CDATA[*/
         var courseId = /*[[${courseId}]]*/ '12345';
         const customId = /*[[${customId}]]*/
         window.config = {courseid: courseId};
       /*]]>*/
</script>

<script th:src="@{/app/jsreact/lms-lti-reports/lms-lti-reports.js}"></script>
<script type="text/javascript" th:src="@{/app/jsrivet/rivet-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/jquery/jquery.min.js}"></script>


</body>
</html>