<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{rosterStatus.pageTitle(${courseCode})}">Page Title</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="#{rosterStatus.pageTitle(${courseCode})}">Report title</h1>

        <div id="buttonContainer"></div>
        
        <!-- add descriptive text to these inputs for users with screenreaders - not displayed on screen -->
        <span id="searchText" class="hidden">Search for data within the report</span> 
        <span id="numEntriesText" class="hidden">Select the number of rows to be displayed in the report</span>
        
        <table id="reportTable" class="display nowrap" th:summary="#{rosterStatus.report.summary}">
            <thead>
            <tr>
                <th th:each="header : ${headers}" th:text="${header}" th:scope="col">Column Header</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="enrollment : ${data}">
                <th th:text="${enrollment.name}" th:scope="row">name</th>
                <td th:text="${enrollment.username}">username</td>
                <td th:text="${enrollment.role}">role</td>
                <td th:text="${enrollment.section}">section</td>
                <td th:text="${enrollment.status}">status</td>
                <td th:text="${#temporals.format(enrollment.createdDate, #messages.msg('rosterStatus.timeFormat'))}">createdDate</td>
                <td th:text="${#temporals.format(enrollment.updatedDate, #messages.msg('rosterStatus.timeFormat'))}">updatedDate</td>
            </tr>
            </tbody>
        </table>

    </div>

    <script type="text/javascript" layout:fragment="js_init">
    <!--
        $(document).ready(function() {
            $('#reportTable').DataTable( {
                "dom": 'Bflrtip',
                "buttons": [{ extend: 'csv', text: 'Download CSV File' }],
                "iDisplayLength": -1,
                "language": {
                   "aria": {
                      "paginate": {
                          "previous":'Previous page', "next": 'Next page'
                       }
                    },
                    "lengthMenu": 
                        'Show <select name="reportTable_length" aria-controls="reportTable" aria-describedby="numEntriesText">'+
                        '<option value="10">10</option>'+
                        '<option value="25">25</option>'+
                        '<option value="50">50</option>'+
                        '<option value="100">100</option>'+
                        '<option value="-1">All</option>'+
                        '</select> entries'
                 } 
            });
            
            reports.applyAccessibilityOverrides();
        });
        -->
    </script>
</body>
</html>